<!DOCTYPE html>
<html>
  <head>
    <title>Posts Sandbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='nav.navbar.navbar-default'>
      <ol class='breadcrumb'>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
      </ol>
    </nav>
    <%= yield %>
  </body>
</html>
